@import '@styles/variables';
@import '@styles/mixins';

.wrap {
  overflow: hidden;
}

.loc {
  position: relative;
  margin-top: 48px;

  @include for-tablet-portrait-up {
    margin-top: 0;
  }

  &_info {
    position: relative;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    gap: 24px;
    
    max-width: 550px;
    color: $gold-10;
    padding-inline: 20px;
    
    @include for-tablet-portrait-up {
      position: absolute;
      bottom: 24px;
      left: 48px;

      gap: 32px;
      padding-inline: 0;
    }
    
    h3 {
      font-family: Romanovsky;
      font-size: 38px;
      font-weight: 400;
      line-height: 118%;
      letter-spacing: -0.64px;

      @include for-tablet-portrait-up {
        @include responsive-font-size(64);
      }

      span {
        color: $gold-100;
      }
    }

    p {
      font-size: 13px;
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0.28px;
      max-width: 400px;

      @include for-tablet-portrait-up {
        @include responsive-font-size(14);
      }
    }

    &_subtitle {
      color: $dark-50;
      font-size: 12px;
      font-weight: 400;
      line-height:166.667%;
      letter-spacing: 0.24px;
      margin-bottom: -8px;

      @include for-tablet-portrait-up {
        display: none;
      }
    }

    &_address {
      display: flex;
      flex-direction: column;
      gap: 8px;
      color: $gold-10;
      font-weight: 400;

      &_sub {
        font-size: 13px;
        line-height: 170%;
        letter-spacing: 0.26px;
      }

      &_main {
        font-size: 20px;
        line-height: 26px;

        span {
          color: $gold-100;
        }
      }

      @include for-tablet-portrait-up {
        display: none;
      }
    }
  }
}

.address {
  display: none;
  
  @include for-tablet-portrait-up {
    margin-top: 240px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    position: relative;
    display: flex;
  }

  &_subtitle {
    color: $dark-50;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.28px;
    z-index: 1;
  }
  
  &_title {
    color: $gold-10;
    font-family: Romanovsky;
    font-size: 52px;
    font-weight: 400;
    line-height: 120%;
    z-index: 1;
    
    span {
      color: $gold-100;
    }
  }
  
  button {
    z-index: 1;
    margin-top: 8px;
    margin-bottom: 24px;
  }
}

.feats {
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
  color: $gold-10;
  padding: 16px 0 32px;
  z-index: 1;
  position: relative;
  flex-direction: column;
  gap: 32px;
  
  @include for-tablet-portrait-up {
    padding: 96px 0;
    margin-inline: 48px;
    flex-direction: row;
    gap: 0;
  }
  
  &_left {
    font-family: Romanovsky;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    
    @include for-tablet-portrait-up {
      @include responsive-font-size(24);
      line-height: 158%;
    }
    
    span {
      color: $gold-100;
    }
  }
  
  &_right {
    font-size: 13px;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 0.28px;
    max-width: 360px;

    @include for-tablet-portrait-up {
      @include responsive-font-size(14);
    }
  }
}

.circles {
  display: none;

  @include for-tablet-portrait-up {
    display: block;
  }
  
  &_1 {
    position: absolute;
    top: -240px;
    left: -40%;

    width: 1336px;
    height: 672px;
    border-radius: 100%;
    border: 1px solid $dark-75;
  }
  &_2 {
    position: absolute;
    top: -240px;
    right: -40%;

    width: 1336px;
    height: 672px;
    border-radius: 100%;
    border: 1px solid $dark-75;
  }
}

.map {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
  margin-top: 32px;
  margin-bottom: 32px;

  @include for-tablet-portrait-up {
    margin-top: 0;
    margin-bottom: 32px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 112px;
    background: linear-gradient(180deg, #171516 0%, rgba(23, 21, 22, 0.00) 100%);
    z-index: 1;
    pointer-events: none;

    @include for-phone-only {
      display: none;
    }

  }
  
  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 112px;
    background: linear-gradient(180deg, rgba(23, 21, 22, 0.00) 0%, #171516 100%);
    z-index: 1;
    pointer-events: none;

    @include for-phone-only {
      display: none;
    }
  }

  &_zoom {
    position: absolute;
    
    bottom: 20px;
    right: 20px;

    display: flex;
    gap: 8px;
    
    @include for-tablet-portrait-up {
      top: 50%; 
      right: 48px;
      transform: translateY(-50%);
      flex-direction: column;
    }

    button {
      width: 40px;
      height: 40px;
      background-color: $gold-100;
      border: 0;

      &:nth-child(1) {
        order: 1;

        @include for-tablet-portrait-up {
          order: 0;
        }
      }
      
      @include for-tablet-portrait-up {
        width: 60px;
        height: 60px;
      }
    }
  }

  &_action {
    position: absolute;
    bottom: 20px;
    left: 20px;

    button {
      background-color: $dark-75;
      color: $gold-10;
    }

    @include for-tablet-portrait-up {
      display: none;
    }
  }
  
}

.marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  svg {
    flex-shrink: 0;
  }

  p {
    text-align: center;
    width: max-content;
    font-family: 'CeraPro';
    white-space: pre;
  }

  &_textSide {
    flex-direction: row;
  }
}