@import '@styles/variables';
@import '@styles/mixins';

.button {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  padding: 8px 20px;
  border-radius: 999px;
  background: $gold-5;
  color: $dark-100;
  text-transform: uppercase;
  font-family: inherit;

  font-size: 13px;
  font-weight: 500;
  line-height: 184%; 
  letter-spacing: .26px;
  
  @include for-tablet-portrait-up {
    @include responsive-font-size(13)
  }
  transition: inherit;

  &:hover {
    background: $gold-100;
    transition: all 0.25s ease-in-out;
  }

  &_rounded {
    border-radius: 999px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.4px solid $gold-5;
  }

  &_gold_border {
    border-color: $gold-100;
    border: 1px solid $gold-100;
    color: $gold-10;

  }
  
  &_transparent {
    background: transparent;

    &:hover {
      border: 1px solid $gold-100;
      background: $gold-100;
      color: $dark-100 !important;

      svg {
        filter: invert(1);
      }
    }
  }

  &_gold_100 {
    background-color: $gold-100;

    &:hover {
      background-color: $gold-80;
    }
  }
}