@font-face {
  font-family: 'Romanovsky';
  src: url('/fonts/Romanovsky-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/CeraPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'CeraPro';
  src: url('/fonts/CeraPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}