@import './variables.scss';
@import './mixins.scss';
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'CeraPro', sans-serif;  
  background-color: $dark-100;
  color: $gold-5;
  font-size: 16px;
  font-weight: 500;
  transition-timing-function: ease-in-out;
  transition-duration: .25s;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.swiper-button-prev, .swiper-button-next {
  display: none !important;
}

// google-maps styles hide footer
.gm-style-cc { display:none; }
a[href^="https://maps.google.com/maps"]{display:none !important}

// range-selector
.range-slider {
  height: 1px !important;
}
.range-slider .range-slider__range {
  background: $gold-100 !important;
}
// .range-slider .range-slider__range[data-active] {
//   /* CSS for active (actively being dragged) range */
// }
.range-slider .range-slider__thumb {
  /* CSS for thumbs */
  background: $gold-100 !important;
  width: 14px !important;
  height: 14px !important;
}
// .range-slider .range-slider__thumb[data-lower] {
//   /* CSS for lower thumb */
// }
// .range-slider .range-slider__thumb[data-upper] {
//   /* CSS for upper thumb */
// }