// breakpoints
// $phone: 576px;
// $tablet: 900px;
// $desktop: 1200px;
// $desktop-lg: 1600px;

$mobile: 960px;


// colors
$white: #fff;
$black: #000;

$brown-5: #E0DCD5;

$dark-100: #171516;
$dark-75: #38342F;
$dark-50: #69655E;
$dark-20: #C2BCB2;

$gold-100: #CDA462;
$gold-10: #D6CBB4;
$gold-5: #E0D9CC
